@import "@/presentation/styles/colors.scss";

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;

  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 50%;
    border: 3px solid $primary-light;
    border-color: $primary-light transparent $primary-light transparent;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
